@import "~@blueprintjs/core/lib/scss/variables";

@media (prefers-color-scheme: dark) {
  body { 
    background-color: $pt-dark-app-background-color;
  }
}

footer {
  text-align: center;
}

.bp3-navbar-group > * + * {
  margin-left: 8px;
}

.bp3-heading {
  text-transform: capitalize;
}

#layout-root {
  display: flex;
  flex-direction: column;
  margin: 8px;
}

#layout-root > * + * {
  margin: 8px 0px 0px 0px;
}

.weather-icon {
  text-align: center;
  align-self: center;
  font-size: 24px;
}

table {
  width: 100%;
}

.spacer {
  flex-grow: 1;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: -4px;
  align-items: flex-start;
}

.card-grid > div {
  max-width: 400px;
  margin: 4px 4px 4px 4px;
  flex: 1 1 350px;
}

@media only screen and (min-width: 724px) {
  .card-grid {
    flex-direction: column;
    align-items: stretch;
    max-height: 800px;
    justify-content: center;
    align-content: center;
  }

  .card-grid > div {
    max-width: 400px;
    min-width: 350px;
    margin: 4px 4px 4px 4px;
    flex: 1 1;

  }
}

@media only screen and (min-width: 1084px) {
  .card-grid {
    max-height: 700px;
  }
}

.full-width {
  flex-grow: 1;
  align-self: stretch;
}

.overflow-container {
  min-width: 0;
  flex-shrink: 3;
}

div.report-line {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.report-line .time-title {
  width: 45px;
  text-align: right;
}

.report-line + .report-line {
  margin-top: 20px;
}

.card-grid h5 {
  margin: 0px 4px 0px 0px;
  white-space: nowrap;
}

.report-line > * + * {
  margin: 0px 0px 0px 8px;
}

.report-line h6 {
  margin: 0px 4px 2px 0px;
  white-space: nowrap;
}

.report-line .temperature {
  width: 3em;
  text-align: right;
}

.report-line .as-of-time {
  align-self: baseline;
}

.report-line.forecast {
  margin-top: 4px;

  .hourly {
    align-items: baseline;
  }
}

tr.report-line.forecast > td {
  padding-top: 4px;
}

tr.report-line > td + td {
  padding-left: 8px;
}

.report-line.forecast.today + .report-line.forecast.tomorrow > td,
.report-line.forecast.night + .report-line.forecast.day {
  padding-top: 4px;
  border-top: 1px solid $pt-divider-black;
  @media (prefers-color-scheme: dark) {
    border-color: $pt-dark-divider-black;
  }
}

h6.warning {
  color: $pt-intent-warning !important;
}